.fileUploadContainer {
  margin: 20px;
}

.dropZone {
  border: 2px dashed #007bff;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
  cursor: pointer;
}

.fileInput {
  display: none;
}

.progress-bar-container {
  width: 100%;
  background-color: #f3f3f3;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 10px;
}

.progress-bar {
  height: 20px;
  background-color: #007bff;
  color: white;
  text-align: center;
  line-height: 20px;
  width: 0;
  transition: width 0.3s ease;
}

.thumbnail {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin: 5px;
}

.pdf-icon {
  width: 100px;
  height: 100px;
  background-color: #f3f3f3;
  color: #007bff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin: 5px;
}

.errorMessages {
  color: red;
  margin-top: 10px;
}